<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd">

  <context:property-placeholder location="classpath:spring/database.properties" file-encoding="UTF-8"/>

  <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
    <!--<property name="driverClassName" value="${jdbc.driver}"/>-->
    <!--<property name="url" value="${jdbc.url}"/>-->
    <!--<property name="username" value="${jdbc.username}"/>-->
    <!--<property name="password" value="${jdbc.password}"/>-->
  <!--</bean>-->

  <!--&lt;!&ndash;通知定义切面是什么及何时使用切面&ndash;&gt;-->
  <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
    <!--<tx:attributes>-->
      <!--&lt;!&ndash;所有get方法是只读的&ndash;&gt;-->
      <!--<tx:method name="get*" read-only="true" propagation="REQUIRED"/>-->
      <!--&lt;!&ndash;其他方法使用默认的设置&ndash;&gt;-->
      <!--<tx:method name="*" propagation="REQUIRED"/>-->
    <!--</tx:attributes>-->
  <!--</tx:advice>-->
  <!--<aop:config>-->
    <!--切点定义在何处使用切面-->
    <!--<aop:pointcut id="serviceOpetation" expression="execution(public * com.earth.*.service.*Service.*(..))"/>-->
    <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOpetation"/>-->
  <!--</aop:config>-->
</beans>